<div class="container">
  <div class="row">
    <div class="col">
      <mat-card class="example-card">
        <img mat-card-image src="assets/images/localnews1.png" alt="Photo of a Shiba Inu">   
        <mat-card-actions>
          <button mat-button>Local News >></button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col">
      <mat-card class="example-card">
        <img mat-card-image src="assets/images/worldnews.jpg" alt="Photo of a Shiba Inu">
        <mat-card-actions>
          <button mat-button>Foreign News >></button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-card class="example-card">
        <img mat-card-image src="assets/images/sportsnews.jpg" alt="Photo of a Shiba Inu">
        <mat-card-actions>
          <button mat-button>Sports News >></button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col">
      <mat-card class="example-card">
        <img mat-card-image src="assets/images/weatherforcast.png" alt="Photo of a Shiba Inu">
        <mat-card-actions>
          <button mat-button>Weather Forecast >></button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>